
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
td {
  text-align: right;
  width: 100px;
}
td:first-child,
td:nth-child(2) {
  text-align: center;
}
td:empty {
  background-image: url(https://mpaulweeks.github.io/changepurse/loading.gif);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.hide {
  visibility: hidden;
  border: none;
}
