body, div {
  margin: 0px auto;
  text-align: center;
}
.currency {
  width: 800px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  display: flex;
}
.header,
.footer {
  border: none
}
.currency .col {
  display: inline;
  width: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.col.money {

}
.row .col:empty {
  background-image: url(loading.gif);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
