body, div {
  margin: 0px auto;
  text-align: center;
}

.github {
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url(corner.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
}

hr {
  width: 800px;
}

.tablerow {
  width: 854px;
}
.tablerow,
.currency {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.currency {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}
.header .currency {
  border: none;
}
.footer {
  margin-top: 5px;
  justify-content: flex-end;
}
.footer .currency {
  margin: 0px 0px;
  margin-right: 50px;
}

.small-col,
.col {
  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
}
.col {
  width: 100px;
}
.col:empty {
  background-image: url(loading.gif);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.small-col {
  width: 50px;
}
.remove {
  color: red;
  cursor: pointer;
}

.add {
  padding: 10px;
}
